$primary-dark: crimson;
$primary-medium: #70587C;
$primary-medium-light: #906fa1;
$primary-light: #C8B8DB;
$primary-lightest: #F9F4F5;
$cool-red: #f94466;
$cool-red-trans: #f94466cc;

/* Coolors Exported Palette - coolors.co/cfe8ef-0eb1d2-34e4ea-c6dbf0-eabbd0 */

/* HSL */
$color1: hsla(193%, 50%, 87%, 1);
$color2: hsla(190%, 88%, 44%, 1);
$color3: hsla(182%, 81%, 56%, 1);
$color4: hsla(210%, 58%, 86%, 1);
$color5: hsla(333%, 53%, 83%, 1);

/* RGB */
$color1: rgba(207, 232, 239, 1);
$color2: rgba(14, 177, 210, 1);
$color3: rgba(52, 228, 234, 1);
$color4: rgba(198, 219, 240, 1);
$color5: rgba(234, 187, 208, 1);

$saved-color1: #e4dbfb;


$header-color: $cool-red;
$navbar-color: $primary-medium;
$navbar-color-hover: $primary-medium-light;
$grid-color: $primary-lightest;
$settings-section-color: $primary-light;
$tabs-color: $primary-light;
$footer-color: $cool-red;

body {
	background-color: lavenderblush;

	padding: 0;
}

* {
	font-family: ariel, helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Anywhere
.content {
	width: 90%;
	min-width: 1100px;
	margin: 0 auto;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.bottom-bordered, .settings-section {
	// border-bottom: 2px white double;
}

.row {
	display: flex;
	justify-content: center;

	// Makes each row have some spacing between them vertically
	&:not(:last-child) {
		margin-bottom: 10px;
	}

	// Makes each column (in each row) have some spacing between them horizontally
	&>*:not(:last-child) {
		margin-right: 50px;
	}
}

input[type=number] {
	max-width: 40px;
}

label {
	color: black;
}

.btn-custom {
	background: $cool-red-trans !important;
	transition: transform .2s !important;

	&:hover {
		background: $cool-red !important;
		cursor: pointer;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(1);
	}
}

$radio-color: $cool-red;
[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
	 background-color: $radio-color !important;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
	 border: 2px solid $radio-color;
}

// Header
.header {
	text-align: center;

	background: $header-color;
	font-size: 30px;


	border-radius: 10px 10px 0 0;
	
	h2, h4 {
		padding: 10px 0;
		margin: 0;
		color: #fff;
	}

	h4 {
		text-transform: lowercase;
		letter-spacing: 2px;
		font-weight: 400;
	}
}

// Navbar
nav {
	text-align: center;

		a {
			text-decoration: none;
		}

		li {
			list-style-type: none;
		}
		
		ul {
			background: $navbar-color;
			display: flex;
			justify-content: space-between;
		
			transition: opacity 0.5s;

		&>li {
			&:hover {
				background: $navbar-color-hover;
				transition: background 0.5s;

				&>ul {
					display: flex;
					opacity: 1;
					visibility: visible;
				}
			}

			flex: 1 0 auto;
			position: relative;

			&>a {
				color: #fff;
				padding: 1rem;
				display: block;
			}


			&>ul {
				display: flex;
				visibility: hidden;
				flex-direction: column;
				opacity: 0;
				position: absolute;
				width: 100%;

				&>li {
					&>ul {
						display: flex;
						visibility: hidden;
						flex-direction: column;
						position: absolute;
						left: 100%;
						top: 0;
						width: 100%;                    
					}

				}
			}

		}
	}
}

// Main
.main {
	color: black;

	.grid-split-in-two {
		display: grid;
		grid-template-columns: 60% 40%;
		
		background: $grid-color;

		&>* {
			// border: 5px double #fff;
			padding: 10px;
		}

		.canvas {
			overflow: auto;
			// border-radius: 5px 0 0 5px;
			border-right: dashed 2px white;

			.container {
				width: 50px;
				margin: 0 auto;
			}

			canvas {
					padding: 0;
					margin: auto;
					display: block;
			}
		}

		.info-section {
			border-radius: 0 5px 5px 0;
			padding: 10px 30px;
			max-height: 600px;
			overflow-y: auto;

			.info {
				height: 100%;

				.info-item {
					overflow: vertical;
				}

				h4 {
					margin-bottom: 10px;
				}

				p:not(:last-child) {
					margin-bottom: 10px;
				}

				.slick-arrow {
					&::before {	
						background-color: dodgerblue;
						opacity: 1;
						// color: royalblue;
					}

				}

				button {
					background-color: $grid-color;
				}
	
				.info-item {
					padding: 10px;
				}
			}

		}
	}

	.actions {
		.tabs {
			display: flex;
			justify-content: center;

			background-color: $tabs-color;
			
			a {
				background-color: lavender;
				color: $cool-red;
			}

			a:focus.active {
				background-color: $cool-red;
				color: #fff;
			}

			a:hover {
				background-color: $cool-red;
				color: #fff
			}
		}
	}

	.settings-section {
		background-color: $settings-section-color;
		color: white;

		&.tabbed-settings-section {
			padding: 20px;
		}

		&.nontabbed-settings-section {
			padding: 5px;
		}
	
		button {
			margin: 2px;
		}


// Propagation box settings grid

		.prop-box-container {
			width: 200px;
			margin: 0 auto;
		}

		.propagation-settings-directions-grid {
			display: grid;
			grid-template-columns: 20% 60% 20%;
			grid-template-rows: 20% 60% 20%;
			height: 200px;

			&>div {
				text-align: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}

			.prop-set-dir-grid-sec {
				// border: 1px solid black;

			}
		}

	}

}

// Footer
.footer {
	background: $footer-color;

	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 0 0 10px 10px;
}


.has-list-anchors {

	li {
		padding: 5px;
	
		a {
			display: inline-block;
			height: 22px;
			
			font-size: 18px;
			transition: font-size 0.2s ease-out;
		}

		a:hover {
			font-size: 20px;

		}

		a:visited {
			color: black;
		}

}

// Landing page

.arrhythmia-list {
	margin: 20px auto;
	width: 500px;

	list-style: none;

	}


}

