$primary-dark: crimson;
$primary-medium: #70587C;
$primary-medium-light: #906fa1;
$primary-medium-light-lighter: #a47fbb;
$primary-light: #C8B8DB;
$primary-lightest: lavenderblush;
$cool-red: #f94466;
$cool-red-trans: #f94466cc;

/* Coolors Exported Palette - coolors.co/cfe8ef-0eb1d2-34e4ea-c6dbf0-eabbd0 */

/* HSL */
$color1: hsla(193%, 50%, 87%, 1);
$color2: hsla(190%, 88%, 44%, 1);
$color3: hsla(182%, 81%, 56%, 1);
$color4: hsla(210%, 58%, 86%, 1);
$color5: hsla(333%, 53%, 83%, 1);

/* RGB */
$color1: rgba(207, 232, 239, 1);
$color2: rgba(14, 177, 210, 1);
$color3: rgba(52, 228, 234, 1);
$color4: rgba(198, 219, 240, 1);
$color5: rgba(234, 187, 208, 1);

$saved-color1: #e4dbfb;


$header-color: $cool-red;
$navbar-color: $primary-medium;
$navbar-color-hover: $primary-medium-light;
$grid-color: $primary-lightest;
$settings-section-color: $primary-light;
$tabs-color: $primary-light;
$footer-color: $cool-red;

$grid-section-height: 650px;

$help-color: #02ac9d;

body {
	background-color: papayawhip;
	// background-color: $cool-red;

	padding: 0;

	// zoom: 0.8; 
 //    -moz-transform: scale(0.8); 
 //    -moz-transform-origin: 0 0;

}

.cursor-question-mark {
 	cursor: url("/static/images/question_mark.png"), help !important;
}

* {
	font-family: ariel, helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Highlight and tooltips
.highlight-on-window {
	z-index: 50;
	background-color: rgba(0, 255, 0, 0.5);
	position: absolute;
}


.tooltip-wrapper {
	position: absolute;
	// display: none;
	top: 0;
	left: 0;

	transform-origin: bottom center;
	transform: scale(0);
	transition: transform 0.3s;
	z-index: 50;

	.tooltip {
		position: relative;
		width: max-content;
		min-width: 100px;
		max-width: 200px;
		padding: 5px;
		background-color: $help-color;
		color: white;
		text-align: center;
		border-radius: 6px;

		.tooltip-triangle {
		    content: "";
		    position: absolute;
		    left: 50%;
		    top: 100%;
		    margin-left: -10px;
		    width: 0;
		    height: 0;
		    border-top: 10px solid #02ac9d;
		    border-right: 10px solid transparent;
		    border-left: 10px solid transparent;
		}
	}
}

// Anywhere
.content {
	width: 1200px;
	margin: 0 auto;
}

.tac {
	text-align: center;
}

.dn {
	display: none;
}

	// content borders
$main-content-border-size: 3px;
$main-content-border-radius: 20px;
$main-content-border-color: $primary-medium;
// header {
// 	border-top: solid $main-content-border-size $main-content-border-color;
// 	border-left: solid $main-content-border-size $main-content-border-color;
// 	border-right: solid $main-content-border-size $main-content-border-color;
// }

nav, arrhythmia-specifics, main {
	border-left: solid $main-content-border-size $main-content-border-color;
	border-right: solid $main-content-border-size $main-content-border-color;
}

.footer {
	border-bottom: solid $main-content-border-size $main-content-border-color;
	border-left: solid $main-content-border-size $main-content-border-color;
	border-right: solid $main-content-border-size $main-content-border-color;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.smaller-container {
	width: 400px;
	margin: 0 auto;
}

.bottom-bordered, .settings-section {
	// border-bottom: 2px white double;
}


.help-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $primary-light;

	.tooltips-toggle {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		.circle-border {
			border: 3px solid $help-color;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			text-align: center;

			color: $help-color;
			font-weight: bold;
			font-size: 22px;

			transition: all 0.3s;
		}
	}
}


$arrow-height: 30px;	
.title-bar {
	height: $arrow-height;
	text-align: center;
	line-height: $arrow-height;
	font-size: 20px;
	background: $primary-medium-light;
	color: white;
	font-weight: bold;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;

	// // Makes each row have some spacing between them vertically
	// &:not(:last-child) {
	// 	margin-bottom: 10px;
	// }

	// Makes each column (in each row) have some spacing between them horizontally
	&>*:not(:last-child) {
		margin-right: 10px;
	}
}

.radio-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	text-align: center;

	.toggle-button-radio {
		display: none;

		&:checked + label {
			background-color: $cool-red;
			color: white;
			border: 3px inset white;
		}

		&:disabled + label {
			cursor: default;
			background-color: #bbb;
			border: none;
			padding-top: 8px;
		}

		&:disabled:checked + label {
			background-color: #ff9a02;
			color: black;			
		}

	}				

	label {
		background-color: #e4e4e4;
		text-align: center;
		padding: 4px 10px;
		margin-right: 10px;
		font-size: 14px;
		border: 3px outset white;
		transition: all 0.2s;
		cursor: pointer;
		border-radius: 6px;
	}
}

.label-input-pair {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 120px;
	padding: 5px;
	margin-top: 5px;

	input.input {
		display: inline-block;
		width: 50px;
		max-height: 20px;
		background-color: #e4e4e4;
		padding: 2px;
		text-align: center;

		&.longer {
			width: 60px;
		}
	}

	label {
		display: inline-block;
		margin-right: 10px;
	}
}

.slider-number-pair {
	display: flex;
	flex-direction: row;
	align-items: center;

	.slider-container {
		display: flex;
		flex-direction: column;

		label {
			text-align: center;
		}
	}
}

hr {
	border-top: solid black 1px;
	border-bottom: none;
	margin: 5px 0;
}

label {
	color: black;
}

.btn-custom {
	background: $cool-red-trans !important;
	transition: transform .2s !important;

	&:hover {
		background: $cool-red !important;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(1);
	}
}

// Modifying materialize css radio buttons
$radio-color: $cool-red;
// $radio-color: crimson;
[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
	 background-color: $radio-color !important;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
	 border: 2px solid $radio-color;
}


	// Propagation box settings grid
$prop-box-container-dimension: 110px;
.prop-box-container {
	// width: $prop-box-container-dimension;
	// margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.propagation-settings-directions-grid {
	display: grid;
	$grid-dimension: 30px;
	grid-template-columns: $grid-dimension $grid-dimension $grid-dimension;
	grid-template-rows: $grid-dimension $grid-dimension $grid-dimension;
	// height: $prop-box-container-dimension;

	#prop-direction-radio-on+label {
		margin: 0;
		width: $grid-dimension - 5;
		height: $grid-dimension - 5;
	}

	&>div {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.prop-set-dir-grid-sec {
		// border: 1px solid black;

	}
}



// Header
.header {
	text-align: center;

	background: $header-color;
	font-size: 30px;


	border-radius: $main-content-border-radius $main-content-border-radius 0 0;
	
	h2, h4 {
		padding: 10px 0;
		margin: 0;
		color: #fff;
	}

	h4 {
		text-transform: lowercase;
		letter-spacing: 2px;
		font-weight: 400;
	}
}

// Navbar
nav {
	
	& * {
		z-index: 2;
	}

	text-align: center;

	a {
		text-decoration: none;

		overflow-wrap: break-word;
	}

	li {
		list-style-type: none;
		cursor: pointer;
	}
	
	ul {
		background: $navbar-color;
		display: flex;
		justify-content: space-between;
		transition: opacity 0.3s;

		&>li {
			
			&:hover {
				background: $navbar-color-hover;
				transition: background 0.3s;

				&>ul {
					display: flex;
					opacity: 1;
					visibility: visible;
				}
			}

			flex: 1 0 auto;
			position: relative;

			&>a {
				color: #fff;
				padding: 1rem;
				display: block;

    			overflow-wrap: break-word;
			}


			&>ul {
				display: flex;
				visibility: hidden;
				flex-direction: column;
				opacity: 0;
				position: absolute;
				width: 100%;

				&>li {
					&>ul {
						display: flex;
						visibility: hidden;
						flex-direction: column;
						position: absolute;
						left: 100%;
						top: 0;
						width: 100%;										
					}

				}
			}

		}
	}
}

.arrhythmia-specifics {
	height: 200px;
	background: lavenderblush;
	padding: 10px;
	// border-left: 3px $main-content-border-color solid;
}

// Main
.main {
	color: black;
	background-color: $primary-lightest;

	.grid-split-in-three {
		height: $grid-section-height;
		display: grid;
		$size-minus-border: 330 - $main-content-border-size;
		grid-template-columns: $size-minus-border 540px $size-minus-border;

		
		background: $grid-color;

		.expand-or-collapse-arrow {
			z-index: 1;
			position: absolute;
			width: $arrow-height;
			height: $arrow-height;
			line-height: $arrow-height;
			text-align: center;
			transform: translateY($arrow-height);
			
			color: white;
			font-size: 36px;

			background: $primary-medium-light;

			cursor: pointer;
			transition: 0.3s;

			i {
				transform: translate(0px, -4px);
				transition: 0.3s;
			}

			&:hover {
				background: $primary-medium;
			}
		}

		.sidebar {
			width: 100%;
			overflow: hidden;
			transition: 0.3s;
			background: $primary-light;
			display: inline-block;


			&>.sidebar-contents {
				overflow-y: scroll;
				padding: 10px;
				height: $grid-section-height;


				.container {
					width: 90%;
					padding: 5px;

				}

				.row p {
					margin: 5px 0;
				}
			}

			.tabSystem {
				display: flex;
				align-items: center;
				position: relative;
				top: 0px;
				left: $arrow-height;
				width: 330px - $arrow-height - $main-content-border-size;
				height: $arrow-height;
				padding-left: 5px;
				overflow: scroll;

				.tab {
					min-width: 80px;
					height: $arrow-height;
					background-color: $primary-medium-light;
					border-radius: 0 0 5px 5px;
					padding-top: 6px;
					
					text-align: center;
					color: white;

					transition: all 0.3s;
					cursor: pointer;

					&:not(:last-child) {
						margin-right: 5px;
					}

					&:hover {
						background-color: $primary-medium-light-lighter;
					}

					&.tabActive {
						background-color: white;
						color: $primary-medium-light;
					}
				}

			}
		}

		.tools-section {
			height: $grid-section-height;
			position: relative;
			overflow: hidden;

			.expand-or-collapse-arrow {
				transform: translate(0px, 30px);
			}

			.sidebar {
				transform: translateX(-330px);
			}
		}

		.canvas-wrapper {
			height: $grid-section-height;
			overflow: auto;

			.canvas-title {
				height: $arrow-height;
				text-align: center;
				line-height: $arrow-height;
				font-size: 20px;
				background: $primary-medium-light;
				color: white;
				font-weight: bold;
			}

			.canvas {
				overflow: auto;
				padding-top: 35px;

				.container {
					width: 50px;
					margin: 0 auto;
				}

				canvas {
						padding: 0;
						margin: auto;
						display: block;
				}
			}
		}

		.squareInspector-section {	
			height: $grid-section-height;
			position: relative;
			overflow: hidden;

			.expand-or-collapse-arrow {
				transform: translate(300px, 30px);
			}

			.sidebar {
				transform: translateX(330px);

				.sidebar-contents {
					// padding-top: 10;
				}
			}

			.squareInspectorDiv {
				transition: all 0.3s;

				.squareInspectorSectionTitle {
					margin: 10px 0 5px 0;
					cursor: pointer;
				}

				.removeSquareInspectorDiv {
					width: 60px;
					font-size: 10px;
					line-height: 17px;
					height: 20px;
					padding: 0 5px;
				}
			}
		}
	}

	.saveload-box {
		padding: 10px;
	}

	.timeStrip-section {
		background: $primary-light;

		.timeStripTools {
			padding-top: 5px;
		}

		

		.timeStripsPanel {
			// display: grid;
			// grid-template-columns: 150px min-content;
			display: flex;
			flex-direction: row;
			padding: 10px;

			.timeStrips-menu {
				position: relative;
				padding: 5px;
				width: 170px;
				// border: 1px solid black;

				.timeStrips-menu-tab {
					position: absolute;
					height: 50px;
					display: flex;
					justify-content: center;
					align-items: center;
					// border: 1px solid black;

					label {
						i {
							cursor: move;
						}
					}

					label {
						.btn.removeTimeStripDiv {
							width: 60px;
							font-size: 10px;
							line-height: 17px;
							height: 20px;
							padding: 0 5px;
						}
					}

					input {
						width: 60px;
						// text-align: center;
						margin-right: 5px;
					}

				}
			}

			#timeStripsDiv {
				// border: 1px solid black;
				flex: 1;
				// padding: 5px;
				position: relative;

				.caliper {
					$caliper-height: 300px;

					display: none;
					position: absolute;
					top: $caliper-height / 2;
					left: 0px;
					&>* {
						position: absolute;

						background-color: black;
					}

					.leftHandle {
						top: - $caliper-height / 2;
						left: 0px;
						width: 2px;
						height: $caliper-height;
						z-index: 9;
						cursor: ew-resize;
					}

					.middle {
						// top: 150px;
						left: 0px;
						width: 100px;
						height: 5px;
						z-index: 9;
						cursor: move;
					}

					.rightHandle {
						top: - $caliper-height / 2;
						left: 100px;
						width: 2px;
						height: $caliper-height;
						z-index: 9;
						cursor: ew-resize;
					}

					.text {
						background-color: rgba(255, 255, 255, 0);
						top: -45px;
						left: 50px;
						transform: translateX(-50%);
						text-align: center;
					}

				}

				canvas {
					display: block;
					margin: 0 auto;
					// border: 1px solid black;
				}
			}
		}
	}

	.settings-section {
		background-color: $settings-section-color;

		.master-frame-box {
			width: 100px;
			display: flex;
			flex-direction: column;

			p {
				text-align: center;
			}

		}

	}

}

// Footer
.footer {
	background: $footer-color;

	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 0 0 $main-content-border-radius $main-content-border-radius;
}

// Landing page

.landing-page-content {

	// display: grid;
	// grid-template-columns: 70% 30%;
	padding: 20px;

	.has-list-anchors {

		li {
			padding: 5px;
		
			a {
				display: inline-block;
				height: 22px;
				
				font-size: 18px;
				transition: font-size 0.2s ease-out;

				text-decoration: none;
			}

			a:hover {
				font-size: 20px;

			}

			a:visited {
				color: blue;
			}

		}

		.arrhythmia-list {
			margin: 0 auto;
			max-width: 500px;
			padding: 20px;

			list-style: none;

			}
	}

	.landing-introduction {
		color: #333;
		margin: 0;
		width: 850px;
		font-size: 18px;
		margin: 0 auto;

		h3 {
			margin-bottom: 10px;
			margin-top: 10px;
			text-align: center;
		}

		p {
			margin-bottom: 20px;
			line-height: 1.8;

			&.no-mb {
				margin-bottom: 5px;
			}
		}

		.list {
			padding-left: 20px;
			margin-bottom: 10px;

			li {
				line-height: 1.5;
			}
		}
	}
	
}

