$primary-dark: crimson;
$primary-medium: #70587C;
$primary-medium-light: #906fa1;
$primary-light: #C8B8DB;
$primary-lightest: lavenderblush;
$cool-red: #f94466;
$cool-red-trans: #f94466cc;

/* Coolors Exported Palette - coolors.co/cfe8ef-0eb1d2-34e4ea-c6dbf0-eabbd0 */

/* HSL */
$color1: hsla(193%, 50%, 87%, 1);
$color2: hsla(190%, 88%, 44%, 1);
$color3: hsla(182%, 81%, 56%, 1);
$color4: hsla(210%, 58%, 86%, 1);
$color5: hsla(333%, 53%, 83%, 1);

/* RGB */
$color1: rgba(207, 232, 239, 1);
$color2: rgba(14, 177, 210, 1);
$color3: rgba(52, 228, 234, 1);
$color4: rgba(198, 219, 240, 1);
$color5: rgba(234, 187, 208, 1);

$saved-color1: #e4dbfb;


$header-color: $cool-red;
$navbar-color: $primary-medium;
$navbar-color-hover: $primary-medium-light;
$grid-color: $primary-lightest;
$settings-section-color: $primary-light;
$tabs-color: $primary-light;
$footer-color: $cool-red;

$grid-section-height: 600px;

body {
	background-color: lavenderblush;
	// background-color: $cool-red;

	padding: 0;
}

* {
	font-family: ariel, helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

// Anywhere
.content {
	width: 1200px;
	margin: 0 auto;
}

.container {
	width: 70%;
	margin: 0 auto;
}

.bottom-bordered, .settings-section {
	// border-bottom: 2px white double;
}

.row {
	display: flex;
	justify-content: center;

	// Makes each row have some spacing between them vertically
	&:not(:last-child) {
		margin-bottom: 10px;
	}

	// Makes each column (in each row) have some spacing between them horizontally
	&>*:not(:last-child) {
		margin-right: 20px;
	}
}

.radio-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;

	.toggle-button-radio {
		display: none;

		&:checked + label {
			background-color: $cool-red;
			color: white;
			border: 3px inset white;
		}
	}				

	label {
		background-color: #e4e4e4;
		text-align: center;
		padding: 4px 10px;
		margin-right: 10px;
		font-size: 14px;
		border: 3px outset white;
		transition: all 0.2s;
		cursor: pointer;
		border-radius: 6px;
	}
}

.number-label-pair {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px;
	margin-top: 5px;

	input[type=number] {
		display: inline-block;
		max-width: 50px;
		max-height: 20px;
		margin-right: 10px;
	}

	label {
		display: inline-block;
	}

}

hr {
	border-top: solid black 1px;
	border-bottom: none;
	margin: 5px 0;
}

label {
	color: black;
}

.btn-custom {
	background: $cool-red-trans !important;
	transition: transform .2s !important;

	&:hover {
		background: $cool-red !important;
		cursor: pointer;
		transform: scale(1.05);
	}

	&:active {
		transform: scale(1);
	}
}

// Modifying materialize css radio buttons
$radio-color: $cool-red;
// $radio-color: crimson;
[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:after {
	 background-color: $radio-color !important;
}

[type=radio]:checked + span:after, [type=radio].with-gap:checked + span:before, [type=radio].with-gap:checked + span:after {
	 border: 2px solid $radio-color;
}


	// Propagation box settings grid
$prop-box-container-dimension: 110px;
.prop-box-container {
	width: $prop-box-container-dimension;
	margin: 0 auto;
}

.propagation-settings-directions-grid {
	display: grid;
	$grid-dimension: 30px;
	grid-template-columns: $grid-dimension $grid-dimension $grid-dimension;
	grid-template-rows: $grid-dimension $grid-dimension $grid-dimension;
	// height: $prop-box-container-dimension;

	#prop-direction-radio-on+label {
		margin: 0;
		width: $grid-dimension - 5;
		height: $grid-dimension - 5;
	}

	&>div {
		text-align: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.prop-set-dir-grid-sec {
		// border: 1px solid black;

	}
}



// Header
.header {
	text-align: center;

	background: $header-color;
	font-size: 30px;


	border-radius: 10px 10px 0 0;
	
	h2, h4 {
		padding: 10px 0;
		margin: 0;
		color: #fff;
	}

	h4 {
		text-transform: lowercase;
		letter-spacing: 2px;
		font-weight: 400;
	}
}

// Navbar
nav {
	
	& * {
		z-index: 1;
	}

	text-align: center;

	a {
		text-decoration: none;

		overflow-wrap: break-word;
	}

	li {
		list-style-type: none;
		cursor: pointer;
	}
	
	ul {
		background: $navbar-color;
		display: flex;
		justify-content: space-between;
		transition: opacity 0.3s;

		&>li {
			
			&:hover {
				background: $navbar-color-hover;
				transition: background 0.3s;

				&>ul {
					display: flex;
					opacity: 1;
					visibility: visible;
				}
			}

			flex: 1 0 auto;
			position: relative;

			&>a {
				color: #fff;
				padding: 1rem;
				display: block;

    			overflow-wrap: break-word;
			}


			&>ul {
				display: flex;
				visibility: hidden;
				flex-direction: column;
				opacity: 0;
				position: absolute;
				width: 100%;

				&>li {
					&>ul {
						display: flex;
						visibility: hidden;
						flex-direction: column;
						position: absolute;
						left: 100%;
						top: 0;
						width: 100%;										
					}

				}
			}

		}
	}
}

// Main
.main {
	color: black;

	.grid-split-in-three {
		height: $grid-section-height;
		display: grid;
		grid-template-columns: 330px 540px 330px;
		
		background: $grid-color;
		$arrow-height: 30px;

		.expand-or-collapse-arrow {
			z-index: 1;
			position: absolute;
			width: $arrow-height;
			height: $arrow-height;
			line-height: $arrow-height;
			text-align: center;
			
			color: white;
			font-size: 36px;

			background: $primary-medium-light;

			cursor: pointer;
			transition: 0.3s;

			i {
				transform: translate(0px, -4px);
				transition: 0.3s;
			}

			&:hover {
				background: $primary-medium;
			}
		}
		
		.sidebar {
			width: 100%;
			overflow: hidden;
			transition: 0.3s;
			background: $primary-light;
			display: inline-block;

			&>.sidebar-title {
				height: $arrow-height;
				margin-bottom: 10px;
				text-align: center;
				line-height: $arrow-height;
				font-size: 20px;
				background: $primary-medium-light;
				color: white;
				font-weight: bold;
			}

			&>.sidebar-contents {
				overflow-y: scroll;
				padding: 10px;
				padding-top: 0;
				height: $grid-section-height;


				.settings-section {
					font-size: 1rem;
					margin-bottom: 5px;
				}

				.container {
					width: 90%;
					padding: 5px;

				}

				.row p {
					margin-top: 5px;
				}
			}
		}

		.tools-section {
			height: $grid-section-height;
			position: relative;
			overflow: hidden;

			.expand-or-collapse-arrow {
				transform: translateX(0px);
			}

			.sidebar {
				transform: translateX(-330px);
			}
		}

		.canvas {
			height: $grid-section-height;
			overflow: auto;
			padding-top: 50px;

			.container {
				width: 50px;
				margin: 0 auto;
			}

			canvas {
					padding: 0;
					margin: auto;
					display: block;
			}
		}

		.squareInspector-section {	
			height: $grid-section-height;
			position: relative;
			overflow: hidden;

			.expand-or-collapse-arrow {
				transform: translateX(300px);
			}

			.sidebar {
				transform: translateX(330px);
			}
		}

		.tabSystem {
			--color-1: #f37d83;
			--color-1: $primary-light;
			--color-2: cornflowerblue;
			--color-2: $primary-light;
			font-size: 0;
			
			.my-tab {
				display: inline-block;
				font-size: 16px;
				
				background: #eee;
				height: 45px;
				width: 150px;
				line-height: 50px;
				text-align: center;
				
				transition: all 0.3s ease-out;
				cursor: pointer;

				&:hover {
					background-color: $primary-light;
				}
			}
			
			.panel {
				display: block;
				font-size: 16px;
				
				padding: 10px;
				
				height: 555px;
				margin: 0 auto;
				overflow-y: auto;
				background-color: $primary-light;
				
				transition: all 0.5s ease-out;

				.squareInspectorDiv {

					.squareInspector-settings-section {
						margin: 0 auto;
						margin-bottom: 10px;
						width: 90%;

						.squareInspectorSectionTitle {
							margin: 10px 0 5px 0;
							cursor: pointer;
						}
					}
					
					hr {
						margin: 10px 0;
					}
				}

				#timeStripsDiv {
					visibility: hidden;
					canvas {
						margin: 0 auto;
					}
				}

			}
			
		}
	}

	.actions {
		.tabs {
			display: flex;
			justify-content: center;

			background-color: $tabs-color;
			
			a {
				background-color: lavender;
				color: $cool-red;
			}

			a:focus.active {
				background-color: $cool-red;
				color: #fff;
			}

			a:hover {
				background-color: $cool-red;
				color: #fff
			}
		}
	}

	.settings-section {
		background-color: $settings-section-color;
		// color: white;

		&.tabbed-settings-section {
			padding: 20px;
		}

		&.nontabbed-settings-section {
			padding: 5px;
		}
	
		button {
			margin: 2px;
		}

	}

}

// Footer
.footer {
	background: $footer-color;

	padding: 10px;
	color: white;
	text-align: center;
	border-radius: 0 0 10px 10px;
}


.has-list-anchors {

	li {
		padding: 5px;
	
		a {
			display: inline-block;
			height: 22px;
			
			font-size: 18px;
			transition: font-size 0.2s ease-out;
		}

		a:hover {
			font-size: 20px;

		}

		a:visited {
			color: black;
		}

}

// Landing page

.arrhythmia-list {
	margin: 20px auto;
	width: 500px;

	list-style: none;

	}


}

