<div class="landing-introduction">
	<p>Hi!</p>
	<p>My name is Vignesh, and I'm a junior doctor working in the UK, interested in general medicine and cardiology. Since the end of medical school, I've also delved into the world of programming. I'm especially interested in making tutorials to explain complex topics in a unique way. <a href="http://vigdhil.com" target="_blank">Click here</a> to see my other projects. </p>
	<p> If you have any feedback or would just like to get in touch, I'd love to hear from you - just email me at <a href="mailto:vigdhildev@gmail.com" target="_blank">VigDhilDev@gmail.com</a></p>
</div>