<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="/static/buttons.css">
	<link rel="stylesheet" href="/static/main.css">
	<script type="text/javascript" src='/static/lib/jquery-3.2.1.min.js'></script>
	<script type="text/javascript" src='/static/lib/pixi.min.js'></script>
	<script type="text/javascript" src='/static/lib/lodash.js'></script>
</head>
<body>

<div class="canvas">
	<div class="actions">
		<div class="play-box settings-section">
			<button class="play-button btn btn-6 btn-6c">Play/pause</button>
			<br>
			<button class="frame-button btn btn-6 btn-6c">Frame</button>
			<br>
			<input type="range" class="fps-slider">
			<input type="number" class="fps-number">
		</div>
		<div class="state-box settings-section">
			<input class='state-radio depo' type="radio" data-selector-type="state" name="selector" value='depo' checked='checked'> <label>Depo</label>
			<input class='state-radio repo' type="radio" data-selector-type="state" name="selector" value='repo'> <label>Repo</label>
			<input class='state-radio clear' type="radio" data-selector-type="state" name="selector" value='clear'> <label>Clear</label>
		</div>
		<div class="condVel-box settings-section">
			<input class='condVel-radio fast' type="radio" data-selector-type="condVel" name="selector" value='fast'> <label>Fast</label>
			<input class='condVel-radio normal' type="radio" data-selector-type="condVel" name="selector" value='normal'> <label>Normal</label>
			<input class='condVel-radio slow' type="radio" data-selector-type="condVel" name="selector" value='slow'> <label>Slow</label>
		</div>
		<div class="refracLength-box settings-section">
			<input class='refracLength-radio long' type="radio" data-selector-type="refracLength" name="selector" value='long'> <label>Long</label>
			<input class='refracLength-radio normal' type="radio" data-selector-type="refracLength" name="selector" value='normal'> <label>Normal</label>
			<input class='refracLength-radio short' type="radio" data-selector-type="refracLength" name="selector" value='short'> <label>Short</label>
		</div>
		<div class="pacing-box settings-section">
			<input class='pacing-radio extPace' type="radio" data-selector-type="pacing" name="selector" value='extPace'> <label>External Pacing</label>
			<input class='pacing-radio autoFocus' type="radio" data-selector-type="pacing" name="selector" value='autoFocus'> <label>Automatic Focus</label>
			<input class='pacing-radio noPace' type="radio" data-selector-type="pacing" name="selector" value='noPace'> <label>No pace</label>
			<br>
			<label>Pacing interval</label><input type="number" name="pacing" class="pacingInterval pacing-number">
			<label>Pacing offset</label><input type="number" name="pacing" class="pacingOffset pacing-number">
		</div>
		<div class="apply-to-all-box settings-section">
			<button class="apply-to-all-button btn btn-6 btn-6c">Apply to all non-clear squares</button>
			<br>
			<button class="unclear-all-cells-button btn btn-6 btn-6c">Unclear all cells</button>
		</div>
	</div>
</div>

<div class="canvas2">
	
</div>

<script>
	var pd = {{pd | tojson}};
	for (key in pd) {
		window[key] = pd[key];
	}
</script>
{# <script type="text/javascript" src='/static/prototypeModifications.js'></script> #}

<script type="text/javascript" src='/static/constants.js'></script>

<script type="text/javascript" src='/static/classes/Grid.js'></script>
<script type="text/javascript" src='/static/classes/Square.js'></script>
<script type="text/javascript" src='/static/classes/TimeStrip.js'></script>

<script type="text/javascript" src='/static/main.js'></script>
<script type="text/javascript" src='/static/gridFunctions.js'></script>

<script type="text/javascript" src='/static/eventListeners.js'></script>
<script type="text/javascript" src='/static/utilities.js'></script>
</body>
</html>
