{% extends 'base.html' %}

{% block main %}

<!-- 	<div class="resize-box settings-section">
		<div class="container">
			<div class="row">
				<label class="slider-number-pair">
					<input type="range" class="resize-slider">
					<input type="number" class="resize-number">Resize
				</label>
				<label class="slider-number-pair">
					<input type="range" class="renum-slider">
					<input type="number" class="renum-number">Repopulate
				</label>
				<input type="checkbox" name="asdf">
			</div>
		</div>
	</div> -->

	<div class="page-specifics">
		<h3 class="tac">{{page["neatName"] if "neatName" in page else page["serverName"]}}</h3>
	</div>

	<div class="help-bar">
		<span>Need help? </span><div class="tooltips-toggle"><span class="circle-border">?</span></div>
	</div>

	<div class="grid-split-in-three bottom-bordered">

		<div class="tools-section">
			<div class="expand-or-collapse-arrow">
				<i class="fa fa-angle-double-right"></i>
			</div>
				<div class="title-bar">
					Tools
				</div>
			<div class="sidebar">

				<div class="sidebar-contents">
					<div id="state-box">
						<p class="tools-section-title">Activation state</p>
						<div class="container">
							<div class="radio-row">
								
								<input id="state-radio-depo" class='toggle-button-radio state-radio depo' type="radio" data-selector-type="state" name="selector" value='depo' checked='checked'>
								<label for="state-radio-depo">Depo</label>
								

								
								<input id="state-radio-repo" class='toggle-button-radio state-radio repo' type="radio" data-selector-type="state" name="selector" value='repo'> <label for="state-radio-repo">Repo</label>
								<input id="state-radio-clear" class='toggle-button-radio state-radio clear' type="radio" data-selector-type="state" name="selector" value='clear'> <label for="state-radio-clear">Clear</label>
							</div>
						</div>
						<hr>
					</div>
					<div id="condVel-box">
						<p class="tools-section-title">Conduction velocity</p>
						<div class="container">
							<div class="radio-row">
								<!-- <input id="condVel-radio-fast" class='toggle-button-radio condVel-radio fast' type="radio" data-selector-type="condVel" name="selector" value='fast'><label for="condVel-radio-fast">Fast</label> -->
								<input id="condVel-radio-normal" class='toggle-button-radio condVel-radio normal' type="radio" data-selector-type="condVel" name="selector" value='normal'><label for="condVel-radio-normal">Normal</label>
								<input id="condVel-radio-slow" class='toggle-button-radio condVel-radio slow' type="radio" data-selector-type="condVel" name="selector" value='slow'><label for="condVel-radio-slow">Slow</label>
							</div>
						</div>
						<hr>
					</div>
					<div id="refracLength-box">
						<p class="tools-section-title">Refractory period length</p>
						<div class="container">
							<div class="radio-row">
									<input id="refracLength-radio-short" class='toggle-button-radio refracLength-radio short' type="radio" data-selector-type="refracLength" name="selector" value='short'> <label for="refracLength-radio-short">Short</label>
									<input id="refracLength-radio-normal" class='toggle-button-radio refracLength-radio normal' type="radio" data-selector-type="refracLength" name="selector" value='normal'> <label for="refracLength-radio-normal">Normal</label>
									<input id="refracLength-radio-long" class='toggle-button-radio refracLength-radio long' type="radio" data-selector-type="refracLength" name="selector" value='long'> <label for="refracLength-radio-long">Long</label>
							</div>
							<div class="row">
								<p>Random refractory period:</p>
							</div>
							<div class="radio-row" style="justify-content: center;">
									<input id="randomRefracLengths-radio-off" class="toggle-button-radio randomRefracLengths-radio off" type="radio" name="selector" value=0 data-selector-type="randomRefracLengths"> <label for="randomRefracLengths-radio-off">Off</label>
									<input id="randomRefracLengths-radio-on" class="toggle-button-radio randomRefracLengths-radio on" type="radio" name="selector" value=1 data-selector-type="randomRefracLengths"> <label for="randomRefracLengths-radio-on">On</label>
							</div>
						</div>
						<hr>
					</div>
					<div id="pacing-box">
						<p class="tools-section-title">Pacing</p>
						<div class="container">
							<div class="radio-row">
								<input id="pacing-radio-extPace" class='toggle-button-radio pacing-radio extPace' type="radio" data-selector-type="pacing" name="selector" value='extPace'> <label for="pacing-radio-extPace">External Pacing</label>
								<input id="pacing-radio-autoFocus" class='toggle-button-radio pacing-radio autoFocus' type="radio" data-selector-type="pacing" name="selector" value='autoFocus'> <label for="pacing-radio-autoFocus">Automatic Focus</label>
								<input id="pacing-radio-noPace" class='toggle-button-radio pacing-radio noPace' type="radio" data-selector-type="pacing" name="selector" value='noPace'> <label for="pacing-radio-noPace"">No pace</label>
							</div>
							<div class="row">
								<div class="label-input-pair pacingIntervalLabelInputPair">
									<label>Pacing interval:</label><input type="number" name="pacing" class="pacingInterval pacing-number input">
								</div>
								<div class="label-input-pair pacingTrackerLabelInputPair">
									<label>Initial pacing timer value:</label><input type="number" name="pacing" class="pacingTracker pacing-number input">
								</div>
							</div>
						</div>
						<hr>
					</div>
					<div id="propagation-box">
						<p class="tools-section-title">Propagation direction</p>
							
							<div class="prop-box-container">
								<div class="propagation-settings-directions-grid">
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[-1,-1]" name="top-left"> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[0,-1]" name="top-center" checked> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[1,-1]" name="top-right"> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[-1,0]" name="center-left" checked> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<div class="radio-row">
												<input id="prop-direction-radio-on" class="toggle-button-radio prop-direction-radio on" type="radio" name="selector" value=1 data-selector-type="propagationDirectionSetting"> <label for="prop-direction-radio-on"></label>
											</div>
						
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[1,0]" name="center-right" checked> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[-1,1]" name="bottom-left"> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[0,1]" name="bottom-center" checked> <span></span>
											</label>
										</div>
										<div class='prop-set-dir-grid-sec'>
											<label>
												<input class='prop-direction' type="checkbox" data-selector-type="propagationDirection" data-direction-code="[1,1]" name="bottom-right"> <span></span>
											</label>
										</div>
						
								</div>
								<div class="label-input-pair nonConductionRateLabelInputPair">
									<label>Non-conduction rate:</label><input type="number" name="nonConduction" class="nonConductionRate input" min="0" max="1.0" step="0.05">
								</div>
							</div>
					<hr>
					</div>
					
					<div id="square-inspector-toggle-box" class="square-inspector-toggle-box">
						<div class="container">
							<div class="radio-row">
								<input id="squareInspector-toggle-radio" class='toggle-button-radio square-inspector-toggle-radio' type="radio" data-selector-type="squareInspectorSelector" name="selector" value='squareInspectorSelector'> <label for="squareInspector-toggle-radio">Cell Inspector</label>
								<input id="timeStrip-toggle-radio" class='toggle-button-radio time-strip-toggle-radio' type="radio" data-selector-type="timeStripPanelSelector" name="selector" value='timeStripPanelSelector'> <label for="timeStrip-toggle-radio">Time Strip</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="canvas-wrapper">
			<div class="canvas-title-bar title-bar">
				Play/Pause
			</div>
			<div class="grid-essential-tools">
				<div id="play-box" class="play-box settings-section">
					<div class="row">
						<!-- <button class="play-button btn btn-custom">&#9658; / <strong style="font-size: 14px">||</strong></button> -->
						<button class="play-button btn btn-custom">
							<i class="material-icons">play_arrow</i><i>/</i> <i class="material-icons">pause</i>
						</button>
						<button class="frame-button btn btn-custom">Frame</button>
						<div class="slider-number-pair">
							<div class="slider-container">
								<input type="range" class="fps-slider">
								<label for="">Framerate</label>
							</div>
							<input type="number" class="fps-number">
						</div>
						<div class="master-frame-box">
							<p>Frame count:</p>
							<p class="master-frame">0</p>
						</div>
					</div>
				</div>
			</div>
			<div class="canvas">
				<div class="container">
					<div class="loader-to-remove">
						<div class="preloader-wrapper big active">
							<div class="spinner-layer spinner-blue-only">
								<div class="circle-clipper left">
									<div class="circle"></div>
								</div><div class="gap-patch">
									<div class="circle"></div>
								</div><div class="circle-clipper right">
									<div class="circle"></div>
								</div>
							</div>
						</div>
						<p class="tac"><strong>Loading grid</strong></p>
					</div>
				</div>
			</div>
		</div>

		<div class="squareInspector-section">
			<div class="expand-or-collapse-arrow">
				<i class="fa fa-angle-double-left"></i>
			</div>
				<div class="title-bar">
					Cell Inspector
				</div>
			<div class="sidebar">
				<div class="tabSystem">			
				</div>
				<div id="squareInspectorDivs" class="sidebar-contents">
				</div>
			</div>
		</div>
	</div>

	<div id="saveload-box" class="saveload-box settings-section">
		<div class="container">
			<div class="row">
				<button class="play-button btn btn-custom">
					<i class="material-icons">play_arrow</i><i>/</i> <i class="material-icons">pause</i>
				</button>
				<button class="save-button btn btn-custom">Save grid state</button>
				<button class="load-button btn btn-custom">Load grid state</button>
			</div>
		</div>
	</div>

	<!-- <div id="misc-box" class="misc-box settings-section">
		<div class="container">
			<div class="row">
				<label>
					<input class='with-gap rainbow-checkbox' type="checkbox" data-selector-type="rainbow" name="rainbow" checked> <span>Rainbow trails</span>
				</label>
			</div>
			<div class="row">
				<label>
					<input class='with-gap diagprop-checkbox' type="checkbox" data-selector-type="diagprop" name="diagprop"> <span>Diagonal propagation</span>
				</label>
			</div>
		</div>
	</div>
	
	<div class="apply-to-all-box settings-section">
		<div class="container">
			<div class="row">
				<button class="apply-to-all-button btn btn-custom">Apply to all non-clear squares</button>
				<button class="unclear-all-cells-button btn btn-custom">Unclear all cells</button>
			</div>
		</div>
	</div> -->


	<div class="timeStrip-section" class="panel">
		<div class="title-bar">Time Strip</div>
		<div class="timeStripTools">
			<div class="radio-row">
				<input id="caliper-checkbox" class='toggle-button-radio caliper-checkbox' type="checkbox"><label for="caliper-checkbox">Calipers</label>
			</div>
		</div>
		<div class="timeStripsPanel">
			<div class="timeStrips-menu">
			</div>
			<div id="timeStripsDiv">
				<div class="caliper">
					<div class="leftHandle">
						
					</div>
					<div class="middle">
						
					</div>
					<div class="rightHandle">
						
					</div>
					<div class="text">
						<div class="intervalNum">100</div>
						<div class="frames">frames</div>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

{% block javascript %}
		
	<script>
		var pd = {{pd | tojson}};
		for (key in pd) {
			window[key] = pd[key];
		}
	</script>

	<!-- Materialize JS -->
		<script type="text/javascript" src="/static/lib/materialize-src/js/bin/materialize.js"></script>
		<script type="text/javascript" src="/static/lib/materialize-src/js/tabs.js"></script>
		<script type="text/javascript" src="/static/lib/materialize-src/js/buttons.js"></script>
		<script type="text/javascript" src="/static/lib/materialize-src/js/waves.js"></script>

		<!-- Initialisation of components -->
		<script type="text/javascript">
			$(document).ready(function(){
				$('.tabs').tabs();
			});
		</script>

	<script type="text/javascript" src='/static/prototypeModifications.js'></script>

	<script type="text/javascript" src='/static/DOMSetup.js'></script>
	<script type="text/javascript" src='/static/DOMeventListeners.js'></script>

	<script type="text/javascript" src='/static/constants.js'></script>

	<script type="text/javascript" src='/static/classes/Grid.js'></script>
	<script type="text/javascript" src='/static/classes/Square.js'></script>
	<script type="text/javascript" src='/static/classes/SquareForTimeStrip.js'></script>
	<script type="text/javascript" src='/static/classes/TimeStrip.js'></script>
	<script type="text/javascript" src='/static/classes/TimeStripPanel.js'></script>

	<script type="text/javascript" src='/static/main.js'></script>
	<script type="text/javascript" src='/static/squareInspector.js'></script>

	<script type="text/javascript" src='/static/pages/{{page["serverName"]}}/infoDiv/infoDiv.js'></script>


	<script type="text/javascript" src='/static/eventListeners.js'></script>
	<script type="text/javascript" src='/static/highlightOnWindow.js'></script>
	<script type="text/javascript" src='/static/tooltip.js'></script>
	<script type="text/javascript" src='/static/utilities.js'></script>

		
{% endblock %}
